@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body{
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    flex-direction:column;
    overflow-x: hidden;
    margin: 0;
    padding:0;
}

.example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .section0{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    font-family: 'Staatliches', cursive;

  }


.header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:10px;
    z-index: 10;
}

.logo{
    color:white;
    font-size:2rem;
    opacity:1;
    margin-left:3rem;
}

.links ul{
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right:4rem;
    gap:1.5rem;
}

.links li{
    padding:10px;
    color:white;
    font-size:1.5rem;
}

.links li:hover{
    text-decoration-line: underline;
}

a:link {
    text-decoration:none;
}

.section0 .intro{
    font-size:7rem;
    flex-grow:1;
    display:flex;
    flex-direction:column-reverse;
}

.alignment{
    margin-bottom:2rem;
    margin-left:2rem;
    font-weight:490;
    color:white;

}


.section1{
    display:flex;
    background-color:#1f2937;
    width:100vw;
    flex-direction:column;
}

.section1 h1{
    font-size:2.5rem;
    color:white;
    margin:0px;
    text-align:center;
    margin-top:1.5rem;
    font-family: 'Staatliches', cursive;
    letter-spacing:3px;
}

.content {
    display: flex;
    justify-content:space-evenly;
    margin:1.5rem;
    margin-top:1rem;
}

.description{
    font-size:18px;
    color:#e5e7eb;
    display:flex;
    flex-direction: column;
    align-items:baseline;
    font-size:1.2rem;
}

#profilePic{
    width:13rem;
    border-radius:50%;
    margin-top:9px;
}



.info{
    display:flex;
    gap:1rem;
    font-family: 'Staatliches', cursive;
    letter-spacing:1px;
}

#experienceTitle{
    color:white;
    font-size:2.2rem;
    font-weight:500;
    text-align:center;
    margin-bottom:2rem;
    font-family: 'Staatliches', cursive;
    letter-spacing:3px;
}


.grid-item{
    text-align:center;
    color:white;
    font-size:1.1rem;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.grid-item img{
    width:2.5rem;
}

.grid-container{
    display:grid;
    grid-template-columns:120px 120px 120px 120px;
    grid-template-rows:120px 120px 120px ;

}

.footer{
    background-color: #1f2937;
    text-align:center;
    color:white;
    padding:20px;
}

.section2{
    margin:40px;
}

.section2 > div{
    font-size:2.5rem;
    font-weight:bold;
    color:#1f2937;
    text-align:center;
    margin-bottom:40px;
    font-family: 'Staatliches', cursive;
    letter-spacing:1px;
}

.section2 ul{
    display:flex;
    justify-content:space-evenly;

}

.section2 li {
    padding:0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .section2 li:hover  {
    transform: scale(1.1);
  }


.imageframe {
    width:auto;
    height:240px;
    display:flex;
    justify-content:center;
    align-items: center;
}

.textbox{
    width:350px;
    padding:10px;
    color:black;
}

.textbox p{
    color:#4C4C4C;
}

.krishiTitle{
    margin-bottom: 10px;
}

.section3{
    background-color:#e5e7eb;
    padding:30px;
    display: flex;
    flex-direction:column;
    align-items:center;
}

.section3 > div{
    font-size:2.5rem;
    font-weight:bold;
    color:#1f2937;
    text-align:center;
    margin-bottom:20px;
    font-family: 'Staatliches', cursive;
    letter-spacing:3px;
}

.section3 img{
    width:300px;
}

figcaption{
    text-align: center;
}

.section4{
    font-size:36px;
    font-weight:bold;
    color:#1f2937;
    text-align:center;
    padding:20px;
}

.section4 {
    font-family: 'Staatliches', cursive;
    letter-spacing:2px;
}

#contactList{
    display:flex;
    margin: 0;
    padding: 0;
}

li{
    padding:10px;
    color:black;
    font-size:18px;
    list-style-type: none;

}




